.container{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}
.gamePage{
    display: flex;
    flex-direction: column;
}
h1{
    align-self: center;
}